@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	background-image: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
}
.main{
    background: #272d40;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin: 120px auto;
    padding: 20px;  
    text-align: center;
    transition: 0.5s;
    transition-delay: 0.8s;
}
.main:hover{
    background: #272d40;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    margin: 120px auto;
    padding: 20px;  
    text-align: center;
}

.card_img img{
    width: 100%;
    height:100% ;
    object-fit: cover;
    border: 4px solid #f2726a;
    transition: 0.5s;

}
.name{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.work{
   
    color: #f2726a;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.social a{
    text-decoration: none;
  color: white;
  margin: 20px 10px;
  display: inline-block;
  font-size: 18px;
  transition: 0.5s;
}
.social a:hover{
    color: red;
}
.me button{
    background: #272d40;
    border: 0.5px solid #f2726a;
    color: white;
    padding: 5px;
    margin: 1px 1px;
}
.me button:hover{
    background: #f2726a;
    border-radius: black;
}
.name{
    margin-top: 180px;
}
.name .span{
    color: rgb(231, 2, 2);
}
.name, .work, .social, .me{
    visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	transition-delay: 0.4s;
}
.main:hover .name,.main:hover .work,.main:hover .social, .main:hover .me{
    visibility: visible;
	opacity: 100;
}
.main:hover .name{
    margin-top: 0px;
}
