*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav{
    position: relative;
    width: 480px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;   
}
.nav ul{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}
.nav ul li{
    position: relative;
    padding: 8px;
    margin: 10px;

}
.nav ul li .icon{
    color: black;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: block;
    line-height: 65px;
    border-radius: 50%;
    text-align: center; 
    transition: 0.5s;
    transition-delay: 0.4s;  
}
.nav ul li .icon:hover{
    transform: translateY(-30px);
    background: var(--clr);
}
.nav ul li a{
    font-size: 20px;
    text-decoration: none;
    text-decoration:bold;
    color:black;
}
.nav ul li a span{
    display: flex;
    justify-content: center;
}






