*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
header{
   background-color:#be1e2d;
   text-align: center;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li,a{
    color: white;

}

.main ul{
    margin-left: 80px;
    margin-right: 80px;
}

.main input{
    font-size: 20px;
    border-radius: 50px;
}
.menubar{
    background-color: #aba5a5;
    width: 100wx;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.menubar ul{
    display: flex;
    justify-content: space-between;
}
.menubar ul li a{
    color: black;
    font-size:18px;
    font-weight: bold;
}
.menubar ul li{
    margin-top: 8px;
}
.menubar ul li a i{
    margin-right: 6px;
    font-size: 16px;
    margin: 5px;
    margin-top: 10px;
    transition: 0.5s;
}
.menubar ul li a:hover{
    color: #be1e2d;
    transform: translateX(5px);
}


.menubar ul li button{
    border-radius: 20px;
    padding: 8px;
    font-weight: bold;
    transition: 0.5s;
}
.menubar ul li button:hover{
    color: #be1e2d;
    transform: translateX(5px);
}
.modal{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}
.modal .inner {
    width: 600px;
    height: 400px;
    position: relative;
    top: 30%;
    margin: auto;
    background: white;
}
.modal .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #be1e2d;
}
.modal p{
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
}
.field{
    display: flex;
    height: 40px;
    border: 1px solid #fff;
    margin-bottom: 12px;
    margin-left: 20px;
    
}
.login button{
    width: 100px;
    height: 30px;
    background: #be1e2d;
    color: white;
    font-weight: bold;
    border-radius: 100px;
}
.login{
    
    margin: 20px;
}
.hide{
    display: none;
}
.vip{
    background: #be1e2d;
    border: none;
    font-weight: bold;
    color: white;
}
.forget p{
    margin-left: 30px;
}
.forget a{
    color: #be1e2d;
    margin-left: 60px;
}



.modal1{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}
.modal1 .inner1 {
    width: 600px;
    height: 400px;
    position: relative;
    top: 30%;
    margin: auto;
    background: white;
}
.modal1 .header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #be1e2d;
}
.modal1 p{
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
}
.field1{
    display: flex;
    height: 40px;
    border: 1px solid #fff;
    margin-bottom: 12px;
    margin-left: 20px;
    
}
.login1 button{
    width: 100px;
    height: 30px;
    background: #be1e2d;
    color: white;
    font-weight: bold;
    border-radius: 100px;
}
.login1{
    
    margin: 20px;
}
.hide{
    display: none;
}
.vip1{
    background: #be1e2d;
    border: none;
    font-weight: bold;
    color: white;
}
.forget1 p{
    margin-left: 30px;
}
.forget1 a{
    color: #be1e2d;
    margin-left: 60px;
}
.modal1 .inner1 {
    width: 600px;
    height: 400px;
    position: relative;
    top: 30%;
    margin: auto;
    background: white;
}

.content ul li{
    position: relative;
    transition: 0.5s;
    
}
.menumobile ul li {
    left: -80px;
    padding: 5px 0;
    transition: 0.5s;
}
.menumobile{
    position: absolute;
    background-color:#aba5a5;
    width: 150px;
    height: auto;
    left: 0;
    top: 100%;
    padding-left: 5px;
    display: none;

}
.menumobile ul{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.menumobile ul li:hover a{
    color: #be1e2d;
}
.menumobile ul li:hover{
    background-color: none;
}
.content ul li:hover .menumobile{
    display: block;
}

.menulaptop ul li {
    left: -80px;
    padding: 5px 0;
    transition: 0.5s;
}
.menulaptop{
    position: absolute;
    background-color:#aba5a5;
    width: 150px;
    height: auto;
    left: 0;
    top: 100%;
    padding-left: 5px;
    display: none;
}
.menulaptop ul{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.menulaptop ul li:hover a{
    color: #be1e2d;
}
.menulaptop ul li:hover{
    background-color: none;
}
.content ul li:hover .menulaptop{
    display: block;
}

.menutablet ul li {
    left: -80px;
    padding: 5px 0;
    transition: 0.5s;
}
.menutablet{
    position: absolute;
    background-color: #aba5a5;
    width: 150px;
    height: auto;
    left: 0;
    top: 100%;
    padding-left: 5px;
    display: none;

}
.menutablet ul{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.menutablet ul li:hover a{
    color: #be1e2d;
}
.menutablet ul li:hover{
    background-color: none;
}
.content ul li:hover .menutablet{
    display: block;
}

.menuhead ul li {
    left: -80px;
    padding: 5px 0;
    transition: 0.5s;
}
.menuhead{
    position: absolute;
    background-color:#aba5a5;
    width: 150px;
    height: auto;
    left: 0;
    top: 100%;
    padding-left: 5px;
    display: none;

}
.menuhead ul{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.menuhead ul li:hover a{
    color: #be1e2d;
}
.menuhead ul li:hover{
    background-color: none;
}
.content ul li:hover .menuhead{
    display: block;
}

.menuwatch ul li {
    left: -80px;
    padding: 5px 0;
    transition: 0.5s;
}
.menuwatch {
    position: absolute;
    width: 150px;
    height: auto;
    left: 0;
    top: 100%;
    padding-left: 5px;
    display: none;
    background-color: #aba5a5;
}
.menuwatch  ul{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.menuwatch  ul li:hover a{
    color: #be1e2d;
    background:gray; 
}

.content ul li:hover .menuwatch {
    display: block;
}





