*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background:white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main li{
    position: relative;
    list-style: none;
    padding: 20px;
    margin: 40px;
    font-weight: bold;
    transition: 0.5s;
    font-size: 20px;
}
.main li:hover{
    transform: translateY(4px);
    color: red;
}
.main ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main a {
    position: relative;
    padding: 20px;
    margin: 20px;
    top: -20px;
}

.main h2{
    position: relative;
    font-size: 80px;
    color: #333;
    top: -10px;
}
.main h2 span{
    position: relative;
    color: #017143;
}
.main .text a{
    position: relative;
    text-decoration: none;
    width: 80px;
    height: 50px;
    padding: 10px;
    margin: 0px;
    color:white ;
    font-weight: bold;
    background: #017143;
    border-radius: 40px;
    transition: 0.5s;
    top: 20px;

}
.main .text a:hover{
    color: red;
}

.main .imgbox img{
    display: flex;
    position: absolute;
    left: 1000px;
    top: 150px;   
    transition: 0.5s;
}
.main .imgbox img:hover{
    transform: translateX(50px);
}



